<div class="content">
  <app-header></app-header>
  <div class="container">


    <div class="result_box">

      <div class="today">
        <p class="city">{{response.city.name}}</p>
        <p class="day">{{response.list[0].dt * 1000 | date: 'EEEE'}} {{response.list[0].dt * 1000 | date: 'd'}} {{response.list[0].dt * 1000 | date: 'MMMM'}}</p>
        <div class="img">
          <img src='https://openweathermap.org/img/wn/{{response.list[0].weather[0].icon}}@4x.png'/>
          <p class="description-weather">{{response.list[0].weather[0].description}}</p>
        </div>

        <p class="main"> {{response.list[0].main.temp |  number: '1.0-0'}}</p>
        <div class="center">
          <p class="min">мин<span>{{response.list[0].main.temp_min |  number: '1.0-0'}}°</span> </p>

          <p class="max">макс<span>{{response.list[0].main.temp_max |  number: '1.0-0'}}°</span></p>
        </div>
        <div class="description">
          <p class="dop">Влажность<br> <span>{{response.list[0].main.humidity |  number: '1.0-0'}}</span></p>
          <p class="dop">Ветер<br> <span>{{response.list[0].wind.speed |  number: '1.0-0'}} <b>м/сек</b></span></p>
          <p class="dop">Oщущается<br> <span>{{response.list[0].main.feels_like |  number: '1.0-0'}}°</span></p>
        </div>
      </div>

      <div class="feature_weather">
        <div [ngClass]="oneItem" *ngFor="let oneDay of response.list ">
          <div *ngIf="response.list?.length > 0">
            <img src='https://openweathermap.org/img/wn/{{oneDay.weather[0].icon}}@4x.png'/>
            Температура - {{oneDay.main.temp  |  number: '1.0-0' }}°
            <p>{{oneDay.weather[0].description}}</p>

            <p>{{oneDay.dt * 1000 | date: 'EEEE'}}</p>
            <p>{{oneDay.dt * 1000 | date: 'd'}}</p>
            <p>{{oneDay.dt * 1000 | date: 'MMMM'}}</p>
          </div>

        </div>
      </div>


    </div>

    <div class="form">
      <div [ngClass]="input">
        <p *ngIf="errResponse">{{errResponse.error.message }}</p>
        <input type="text" class="main_search" [(ngModel)]="searchCity" placeholder="Введите ваш город">
      </div>
      <button (click)="search()" class="button">Поиск</button>
    </div>


  </div>
</div>

