

<div class="content"  >
  <app-header></app-header>
  <div class="container">
    <div class="form">
      <div [ngClass]="input">
        <p *ngIf="errResponse">{{errResponse.error.message }}</p>
        <input type="text" class="main_search" [(ngModel)]="searchCity" placeholder="Введите ваш город">
      </div>
      <button (click)="search()" class="button">Поиск</button>
    </div>

    <div *ngIf="response" class="result_box" >
      <div *ngFor="let oneBlog of response.list">
        <p *ngIf="response.list?.length > 0">Температура - {{oneBlog.main.temp}}</p>
      </div>
      <div class="left">
<!--        <img src='https://openweathermap.org/img/wn/{{response.weather[0].icon}}@4x.png' />-->
      </div>
      <div class="right">
        <p class="city">{{response.city.name}}</p>
<!--        <p>{{response.main.temp }}</p>-->

<!--        <p>{{response.weather[0].description }}</p>-->
      </div>

    </div>







  </div>
</div>

