<div class="content">
  <app-header></app-header>
  <div class="container">
    <div class="result_box">
      <div class="today">
        <p class="city">{{response.city.name}}</p>
        <p class="day">{{response.list[0].dt * 1000 | date: 'EEEE'}} {{response.list[0].dt * 1000 | date: 'd'}} {{response.list[0].dt * 1000 | date: 'MMMM'}}</p>
        <div class="img">

          <img src='https://openweathermap.org/img/wn/{{response.list[0].weather[0].icon}}@4x.png'/>
          <p class="description-weather">{{response.list[0].weather[0].description}}</p>
        </div>

        <div class="center">
          <p class="min"><span>Мин</span>{{response.list[0].main.temp_min |  number: '1.0-0'}}° </p>
          <p class="main">{{response.list[0].main.temp |  number: '1.0-0'}}</p>
          <p class="max"><span>Макс</span>{{response.list[0].main.temp_max |  number: '1.0-0'}}°</p>
        </div>
        <div class="description">
          <p class="dop"><span>Влажность</span>{{response.list[0].main.humidity |  number: '1.0-0'}} <i>%</i></p>
          <p class="dop"><span>Oщущается</span>{{response.list[0].main.feels_like |  number: '1.0-0'}}°</p>
          <p class="dop"><span>Ветер</span>{{response.list[0].wind.speed |  number: '1.0-0'}} <i>м/сек</i></p>
        </div>
      </div>

      <div class="feature_weather">
        <div [ngClass]="oneItem" *ngFor="let oneDay of response.list ">
          <div *ngIf="response.list?.length > 0">
            <p class="time">{{oneDay.dt * 1000 | date: 'H' }}:{{ oneDay.dt * 1000 | date: 'mm'}}</p>
            <p class="temp">{{oneDay.main.temp  |  number: '1.0-0' }}°</p>
            <img src='https://openweathermap.org/img/wn/{{oneDay.weather[0].icon}}@4x.png'/>
          </div>
        </div>
      </div>

    </div>

    <div class="form">
      <div [ngClass]="input">
        <p *ngIf="errResponse">{{errResponse.error.message }}</p>
        <input type="text" class="main_search" [(ngModel)]="searchCity" placeholder="Введите ваш город">
      </div>
      <button (click)="search()" class="button">Найти</button>
    </div>
  </div>
</div>

