* {
  margin: 0;
  padding: 0;
  font-family: "Regular";
  box-sizing: border-box;
  font-size: 16px;
}
@font-face {
  font-family: "Light";
  src: url("./assets/fonts/GothamPro-Light.ttf");
}

@font-face {
  font-family: "Regular";
  src: url("./assets/fonts/GothamPro.ttf");
}

@font-face {
  font-family: "Medium";
  src: url("./assets/fonts/GothamPro-Medium.ttf");
}

@font-face {
  font-family: "Bold";
  src: url("./assets/fonts/GothamPro-Bold.ttf");
}

body {
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1070px;
  margin: 0 auto;
  padding: 0 20px;
}
